<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/products">SmartFridge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-1">
                <a class="nav-link" href="/products">Inventory</a>
                <a class="nav-link" target="_blank" href="http://allrecipes.com">Recipe Search</a>
                <a class="nav-link mr-4" href="/groceries">Shopping List </a>

            </div>
            <form action="/users/logout" method="POST"><button class="btn btn-light">Log Out</button>
            </form>

        </div>
    </div>
</nav>