<%- include('./partials/head')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <div class="container">
                <h1 class="h1">Welcome to SmartFridge!</h1>
                <p>Choose below where you want to go</p>
                <a href="/products"><button name="inventory" class="btn btn-primary">Inventory List</button></a>
                <a target="_blank" href="http://allrecipes.com"><button name="recipe" class="btn btn-primary">Recipe Search</button></a>
                <a href="/groceries"><button name="grocerylist" class="btn btn-primary">Shopping List</button></a>
                
            </div>
    </body>
</html>