<%- include('./partials/head')%>


    <body>

        <div class="container">
            <h1 class="h1">Welcome to SmartFridge</h1>
            <p>Login in or Sign up below</p>
            <a href="users/login"><button name="login" class="btn btn-success">Log In</button></a>
            <a href="users/signup"><button name="signup" class="btn btn-success signup">Sign Up</button></a>
        </div>
    </body>

    </html>