<%- include('../partials/head')%>

    <body>

        <div class="container">
            <h1>Sign up for SmartFridge</h1>
            <form action="./signup" method="POST">
                <div>
                    <label for="username">Enter Username:</label>
                    <input type="text" name="username" id="username" required placeholder="username">
                </div>
                <div>
                    <label for="password">Enter password:</label>
                    <input type="password" name="password" id="password" required minlength="8"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="password"><br>
                    <label>Password must contain a minimum of:
                        <ul>
                            <li>8 characters</li>
                            <li>1 capital letter</li>
                            <li>1 number</li>
                    </label>
                    </ul>
                </div>
                <a href="/" class="btn btn-primary">Back</a>
                <button class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </body>

    </html>